/***************************
FOOTER
 ***************************/
 .container-footer{
    background-color: var(--footer-color);
    min-height: 90px;
    justify-content: space-between;
    padding: 0 10px;
 }
 /***************************
BRANO
 ***************************/
 
.mini-img{
   width: 25%;
   margin-right: 10px;
}
.brano{
   width: 13%;
}
div.mini-footer-sx div span{
   font-size: 11px;
}
.fa-folder{
   margin-left: 10px;
}
.heart-folder{
   color: #5a5a5a;
}
 /***************************
PLAY
 ***************************/
 .padding-play{
   padding: 10px 10px;
   font-size: 15px;
}

.fa-circle-play{
   font-size: 25px;
   padding: 10px 20px;
   vertical-align: sub;
}
.bar{
   height: 4px;
   width: 150%;
   background-color: #5a5a5a;
}
.bar-play{
   height: 4px;
   width: 85px;
   background-color: #fff;
   position: absolute;
   bottom: 0;
   left:  -60px;
}

 /***************************
VOLUME
 ***************************/

 div.mini-footer-dx span{
   font-size: 12px;
   margin-right: 10px;
 }
 .box-bar{
   width: 120px;
 }
 .mini-bar-play{
   height: 4px;
   width: 25px;
   background-color: #fff;
   position: absolute;
}

.mini-bar{
   height: 4px;
   width: 150%;
   background-color: #5a5a5a;
}

.fa-circle{
   position: absolute;
   top: 40px;
   left: 20px;
   opacity: 0;
}