/***************************
 IMPORT 
 ***************************/
@import url(variables.css);
@import url(reset.css);
@import url(main.css);

/***************************
 STYLE 
 ***************************/

div.icons span:not(:first-child){
    color: var(--font-color);
}
div.text-menu span:not(:first-child){
    color: var(--font-color);
}
div.text-menu span{
    font-size: 14px;
    margin: 4px 0 2px 0;
}

.text-playlist, div.utente span#text-install{
    font-size: 15px;
}

.fa-plus{
    background-color: var(--font-color);
    padding: 7px;
    color: black;
    margin: 7px 5px 0 0;
}
ul, div.create-playlist span, #text-install, .riga, .nome-brano{
    color: var(--font-color);
}
.riga{
    margin: 10px 10px 10px 0;
}
.user-name{
    font-weight: 600;
}
.box-description{
    margin-top: 15px;
}
i.play-button{
    font-size: 70px;
    opacity: 0;
}
.play-button{
    position: absolute;
    top: 40px;
    left: 40px;
}

div ul.ul-list li:first-child::after{
    content: "_____";
    color: #adff2f;
}

.aside-menu::before{
    content: "|";
    color: #adff2f;
    margin-left: -11px;
    font-size: x-large;
}

 /***************************
HOVER
 ***************************/
 img.col-p:hover{
    filter: brightness(30%);
    cursor: pointer;
 }
 img.col-s:hover{
    filter: brightness(30%);
    cursor: pointer;
 }

 i.play-button:hover{
    opacity: 1;
    cursor: pointer;
 }
 button#btn-upgrade:hover{
    flex-grow: 0.1;
 }

 ul li:hover{
    cursor: pointer;
    color: #fff;
 }
 div.aside-menu span:hover{
    cursor: pointer;
    color: #fff;
 }
 div.create-playlist:hover{
    cursor: pointer;
    color: #fff;
 }
 .fa-regular:hover{
    cursor: pointer;
    color: #fff;
 }
 div.mini-bar-play:hover{
    background-color: #adff2f;
    cursor: pointer;
 }
 div.bar-play:hover{
    background-color: #adff2f;
    cursor: pointer;
 }
 div.bar-play ~ i:hover{
    opacity: 1;
 }